<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- HULFT配信可否（true：実行する、false：実行しない） -->
    <add key="HulftSendExec" value="true" />
    <!-- HULFT集信可否（true：実行する、false：実行しない） -->
    <add key="HulftRecvExec" value="true" />
  </appSettings>
</configuration>
