<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 処理可能交換希望月数[Nヵ月] -->
    <add key="ClearingMonthMax" value="1"/>
    <!-- 指定交換での交換日To初期値営業日差日数 -->
    <add key="ClearingDefDateDiff" value="0"/>
  </appSettings>
</configuration>
