<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- エントリー画面で使用するフォント名（ラベル） -->
    <add key="LabelFontName" value="MS UI Gothic"/>
    <!-- エントリー画面で使用するフォント名（テキストボックス） -->
    <add key="TextFontName" value="MS UI Gothic"/>
    <!-- 金額プルーフチェック -->
    <add key="KingakuProofCheck" value="true"/>
    <!-- デフォルトイメージ画像 -->
    <add key="DefaultImage" value="default.jpg"/>
    <!-- 明細一覧の背景色設定 -->
    <add key="MeiListBackColor" value="1001:FFCC99,2001:FFCC99,3000:99FFCC,3001:BFBFBF,3005:BFBFBF,4001:BFBFBF,4005:BFBFBF"/>
  </appSettings>
</configuration>
