<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IIPCommonClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
     <!--■■環境依存(value値変更可)■■-->
     <!--メニューとメッセージのiniファイルパス--> 
    <add key="MsgINI" value=".\msg.ini"/>
     <!--ログ出力先--> 
    <add key="LogFolderPath" value="..\LOG"/>
    <add key="ErrLogFolderPath" value="..\LOG"/>
     <!--OCRソフトウェア名称--> 
    <add key="OCR1" value="汎用OCR"/>
    <add key="OCR2" value="手形OCR"/>
     <!--ログ表示日数--> 
    <add key="ErrLogDays" value="15"/>
     <!--画面--> 
    <add key="DISPSIZE" value="1280, 1024"/>
    <add key="FontName" value="ＭＳ 明朝"/>
     <!--警告・エラー以外の通常ログも出力するか--> 
    <add key="DetailLog" value="true"/>
  </appSettings>
  
</configuration>