<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 一意コード算出時スリープタイム（ミリ秒） -->
    <add key="UniqueCodeSleepTime" value="10"/>
    <!-- アーカイブファイルサイズ（MB） -->
    <add key="MaxArchiveFileSize" value="470"/>
  </appSettings>
</configuration>
