<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 一覧表示上限 -->
    <add key="ListDispLimit" value="1000"/>
    <!-- イメージ縮小率 -->
    <add key="ImageReduceRate" value="60"/>
  </appSettings>
</configuration>
