<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 一覧表示上限 -->
    <add key="ListDispLimit" value="1000"/>
    <!-- 印鑑照合モードの背景色設定 -->
    <add key="InkanSortBackColor" value="0x70AD47"/>
    <!-- ファイル出力形式 1(csv),2(tsv),3(固定)  -->
    <add key="FileOutPutType" value="3"/>
    <!-- イメージ縮小率 -->
    <add key="ImageReduceRate" value="60"/>
    <!-- 印鑑照合モードの証券種類条件 -->
    <add key="InkanSortBillNoList" value="101,102,201"/>
  </appSettings>
</configuration>
