<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IIPReference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <IIPReference.Properties.Settings>
      <setting name="UserId1" serializeAs="String">
        <value>DBIIP</value>
      </setting>
      <setting name="DataSource2" serializeAs="String">
        <value />
      </setting>
      <setting name="InitialCatalog1" serializeAs="String">
        <value />
      </setting>
      <setting name="Password1" serializeAs="String">
        <value>DBIIP</value>
      </setting>
      <setting name="InitialCatalog2" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId2" serializeAs="String">
        <value />
      </setting>
      <setting name="Password2" serializeAs="String">
        <value />
      </setting>
      <setting name="IsVisibleINVENTORY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsVisibleNORMAL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsVisibleADDITION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsVisibleTOTAL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsVisibleINCLEARING" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="opedate" serializeAs="String">
        <value />
      </setting>
      <setting name="ErrLogFolderPath" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>\\fqctge08\e$\NCR_Dev\NCR\NCBDEV\OCRFoundation\Bin\LOG</string>
            <string>\\fqctge01\e$\NCR_Dev\NCR\NCBDEV\OCRFoundation\Bin\LOG</string>
            <string>\\fqctge04\e$\NCR_Dev\NCR\NCBDEV\OCRFoundation\Bin\LOG</string>
            <string>\\fqctge11\e$\NCR_Dev\NCR\NCBDEV\OCRFoundation\Bin\LOG</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DataSource1" serializeAs="String">
        <value>bofdev</value>
      </setting>
      <setting name="DISPENV" serializeAs="String">
        <value>【BOF】開発環境</value>
      </setting>
      <setting name="OcrFoundationTerm" serializeAs="String">
        <value>172_20_0_100|172_20_0_101|10_98_180_180|10_98_180_183</value>
      </setting>
      <setting name="OcrFoundationGoki" serializeAs="String">
        <value>1号機|2号機|3号機|4号機</value>
      </setting>
    </IIPReference.Properties.Settings>
  </userSettings>
</configuration>
