<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- ロック解除権限設定 -->
    <add key="UnlockLevel" value="1"/>
    <!-- 一意コード算出時スリープタイム（ミリ秒） -->
    <add key="UniqueCodeSleepTime" value="10"/>
    <!-- バッチ番号採番リトライ回数 -->
    <add key="BatchSeqRetryCount" value="3"/>
    <!-- バッチ一覧の背景色設定 -->
    <add key="BatchListBackColor" value="3:0xFFCC99,4:0x99FFCC,2:0xCCCCFF,9:0xBFBFBF"/>
    <!-- 交換証券種類から変換できない場合の画面ID -->
    <add key="DspIDDefault" value="999"/>
    <!-- OCR読取フィールド名設定（持出銀行） -->
    <add key="OCRKey_OC_BK_NO" value="持出銀行"/>
    <!-- OCR読取フィールド名設定（持出支店） -->
    <add key="OCRKey_OC_BR_NO" value="持出支店"/>
    <!-- OCR読取フィールド名設定（持帰銀行） -->
    <add key="OCRKey_IC_BK_NO" value="持帰銀行"/>
    <!-- OCR読取フィールド名設定（スキャン支店） -->
    <add key="OCRKey_SCAN_BR_NO" value="スキャン支店"/>
    <!-- OCR読取フィールド名設定（スキャン日） -->
    <add key="OCRKey_SCAN_DATE" value="スキャン日"/>
    <!-- OCR読取フィールド名設定（交換希望日） -->
    <add key="OCRKey_CLEARING_DATE" value="交換希望日"/>
    <!-- OCR読取フィールド名設定（スキャン枚数） -->
    <add key="OCRKey_SCAN_COUNT" value="スキャン枚数"/>
    <!-- OCR読取フィールド名設定（合計枚数） -->
    <add key="OCRKey_TOTAL_COUNT" value="合計件数"/>
    <!-- OCR読取フィールド名設定（合計金額） -->
    <add key="OCRKey_TOTAL_AMOUNT" value="合計金額"/>
    <!-- OCR読取フィールド名設定（金額） -->
    <add key="OCRKey_AMOUNT" value="金額"/>
    <!-- OCR読取フィールド名設定（交換証券種類） -->
    <add key="OCRKey_BILL" value="交換証券種類"/>
    <!-- OCR読取フィールド名設定（メモ情報） -->
    <add key="OCRKey_MEMO" value="メモ情報"/>
    <!-- OCR信頼度閾値（補正済とする閾値） -->
    <add key="OCRLevel" value="10"/>

    <!-- イメージファイル名定義件数 -->
    <add key="ScanImagePatternCount" value="3"/>

    <!-- イメージファイル名定義（１）-->
    <add key="ScanImagePattern1" value="ABC[0-9]{12}([BF]).jpg"/>
    <add key="ScanImagePatternKeyFront1" value="F"/>
    <add key="ScanImagePatternKeyBack1" value="B"/>
    <add key="ScanImagePatternSerNoFlg1" value="0"/>
    <!-- イメージファイル名定義（２）-->
    <add key="ScanImagePattern2" value="[0-9]{8}.jpg"/>
    <add key="ScanImagePatternKeyFront2" value=""/>
    <add key="ScanImagePatternKeyBack2" value=""/>
    <add key="ScanImagePatternSerNoFlg2" value="1"/>
    <!-- イメージファイル名定義（３）-->
    <add key="ScanImagePattern3" value="IMG[0-9]{12}([BF]).jpg"/>
    <add key="ScanImagePatternKeyFront3" value="F"/>
    <add key="ScanImagePatternKeyBack3" value="B"/>
    <add key="ScanImagePatternSerNoFlg3" value=""/>


  </appSettings>
</configuration>
