<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 一覧表示上限 -->
    <add key="ListDispLimit" value="1000"/>
    <!-- イメージ縮小率 -->
    <add key="ImageReduceRate" value="60"/>
    <!-- 一覧表示自動更新 初期値(0：チェックなし、1：チェックあり) -->
    <add key="AutoRefreshDef" value="0"/>
    <!-- 一覧表示自動更新 間隔(秒指定) -->
    <add key="AutoRefreshInterval" value="60"/>
  </appSettings>
</configuration>
