<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- ロック解除権限設定 -->
    <add key="UnlockLevel" value="1"/>
    <!-- 一意コード算出時スリープタイム（ミリ秒） -->
    <add key="UniqueCodeSleepTime" value="10"/>
    <!-- 合計票一覧の背景色設定 -->
    <add key="TotalListBackColor" value="3:0xFFCC99,4:0x99FFCC,2:0xCCCCFF,9:0xBFBFBF"/>
    <!-- OCR読取フィールド名設定（持出銀行） -->
    <add key="OCRKey_OC_BK_NO" value="持出銀行"/>
    <!-- OCR読取フィールド名設定（持出支店） -->
    <add key="OCRKey_OC_BR_NO" value="持出支店"/>
    <!-- OCR読取フィールド名設定（スキャン支店） -->
    <add key="OCRKey_SCAN_BR_NO" value="スキャン支店"/>
    <!-- OCR読取フィールド名設定（スキャン日） -->
    <add key="OCRKey_SCAN_DATE" value="スキャン日"/>
    <!-- OCR読取フィールド名設定（総枚数） -->
    <add key="OCRKey_TOTAL_COUNT" value="総枚数"/>
    <!-- OCR読取フィールド名設定（総金額） -->
    <add key="OCRKey_TOTAL_AMOUNT" value="総金額"/>

  </appSettings>
</configuration>
