<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 一意コード算出時スリープタイム（ミリ秒） -->
    <add key="UniqueCodeSleepTime" value="10"/>
    <!-- バッチ番号採番リトライ回数 -->
    <add key="BatchSeqRetryCount" value="3"/>
    <!-- 交換証券種類から変換できない場合の画面ID -->
    <add key="DspIDDefault" value="999"/>
    <!-- 業務連携データファイル名 -->
    <add key="GymDataFileName" value="GYMDATA.xml"/>
    <!-- 「表・裏等の別」ファイル位置 -->
    <add key="FileNameKbnPosition" value="13,1"/>
    <!-- 表の「表・裏等の別」値 -->
    <add key="KbnCodeOmote" value="1"/>
    <!-- 裏の「表・裏等の別」値 -->
    <add key="KbnCodeUra" value="2"/>
    <!-- 補箋の「表・裏等の別」値 -->
    <add key="KbnCodeHosen" value="3"/>
    <!-- 付箋の「表・裏等の別」値 -->
    <add key="KbnCodeFusen" value="4"/>
    <!-- 入金証明の「表・裏等の別」値 -->
    <add key="KbnCodeNyukin" value="5"/>
    <!-- OCR読取フィールド名設定（持帰銀行コード） -->
    <add key="OCRKey_IC_BK_NO" value="持帰銀行"/>
    <!-- OCR読取フィールド名設定（金額） -->
    <add key="OCRKey_AMOUNT" value="金額"/>
    <!-- OCR読取フィールド名設定（手形期日） -->
    <add key="OCRKey_TEGATAKIJITU" value="手形期日"/>
    <!-- OCR読取フィールド名設定（交換希望日） -->
    <add key="OCRKey_CLEARING_DATE" value="交換希望日"/>
    <!-- OCR読取フィールド名設定（手形種類） -->
    <add key="OCRKey_TEGATA" value="手形種類"/>
    <!-- OCR読取フィールド名設定（持帰支店コード） -->
    <add key="OCRKey_IC_BR_NO" value="支店番号"/>
    <!-- OCR読取フィールド名設定（口座番号） -->
    <add key="OCRKey_KOUZANUMBER" value="口座番号"/>
    <!-- OCR読取フィールド名設定（手形番号） -->
    <add key="OCRKey_TEGATANUMBER" value="手形番号"/>
  </appSettings>
</configuration>
