<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- IPアドレス必須要素 IPアドレスが複数存在する場合、取得対象の必須要素を設定(設定不要な場合空文字設定) -->
    <add key="MustBeIncludedIp" value=""/>

  </appSettings>
</configuration>
