<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- リトライ回数 -->
    <add key="RetryCount" value="5"/>
    <!-- スリープタイム（ミリ秒） -->
    <add key="SleepTime" value="10000"/>
    <!-- ファイルロックリトライ回数 -->
    <add key="FileLockRetryCount" value="5"/>
    <!-- ファイルロックスリープタイム（ミリ秒） -->
    <add key="FileLockSleepTime" value="20000"/>
  </appSettings>
</configuration>