<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 一覧表示上限 -->
    <add key="ListDispLimit" value="2000"/>
    <!-- 不渡初期値 0:空欄、1:含む  -->
    <add key="FuwatariDef" value="0"/>
  </appSettings>
</configuration>
